[buildout]
parts +=
    sphinx-directories
    sphinx-build

[sphinx-directories]
# Make sure that docs/ folder exists
recipe = z3c.recipe.mkdir
paths = ${buildout:directory}/docs

[sphinx-build]
# Install Sphinx and sphinx-* commands in ${buildout:bin-directory}
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/docs
build = ${buildout:directory}/docs/_build
