[versions]
# Know good set (KGS) of versions, generated automatically by buildout
# extension, i.e. buildout-versions.
# Note: the versions pinned here are those which have not been explicitely
# pinned yet. If your project requires an explicit version of a dependency,
# you should specify it elsewhere, i.e. in "versions" part of versions.cfg.
# If you want to upgrade your project:
# 
# * Delete lines below;
# * Run buildout in "newest" mode (i.e. implicitely without -N or explicitely
#  with -n option).

# Added by Buildout Versions at 2011-11-07 17:39:57.934637
Markdown = 2.0.3
Paste = 1.7.5.1
buildout-versions = 1.7
distribute = 0.6.24
zc.buildout = 1.5.2
zc.recipe.egg = 1.3.2

# Required by:
# drupalindustry.templates==0.1
Cheetah = 2.4.4

# Required by:
# PasteScript==1.7.5
PasteDeploy = 1.5.0

# Required by:
# drupalindustry.templates==0.1
PasteScript = 1.7.5
